BrokerClient/src/META-INF/wsdl/localhost_8080/BrokerSystemFunctions/BrokerSystemFunctions.xsd_2.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><xs:schema xmlns:tns="http://xml.netbeans.org/schema/Consumer" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" version="1.0" targetNamespace="http://xml.netbeans.org/schema/Consumer">

<xs:complexType name="userID">
<xs:sequence>
<xs:element name="userName" type="xs:string"/>
<xs:element name="password" type="xs:string"/>
<xs:element name="loggedOn" type="xs:boolean" default="false"/>
<xs:element name="myShare" type="tns:listOfShares"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listOfShares">
<xs:sequence>
<xs:element name="shareList" type="tns:companyShare" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="companyShare">
<xs:sequence>
<xs:element name="companyName" type="xs:string"/>
<xs:element name="quantity" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:schema>