BrokerClient/src/META-INF/wsdl/localhost_9090/BrokerSystemFunctions/BrokerSystemFunctions.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://BrokerFunctions/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://BrokerFunctions/" name="BrokerSystemFunctions">
<types>
<xsd:schema>
<xsd:import namespace="http://xml.netbeans.org/schema/sharesSchema" schemaLocation="http://localhost:9090/BrokerSystemFunctions/BrokerSystemFunctions?xsd=1"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://BrokerFunctions/" schemaLocation="http://localhost:9090/BrokerSystemFunctions/BrokerSystemFunctions?xsd=2"/>
</xsd:schema>
</types>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="buyShares">
<part name="parameters" element="tns:buyShares"/>
</message>
<message name="getCompanienames">
<part name="parameters" element="tns:getCompanienames"/>
</message>
<message name="getCompanienamesResponse">
<part name="parameters" element="tns:getCompanienamesResponse"/>
</message>
<portType name="BrokerSystemFunctions">
<operation name="hello">
<input wsam:Action="http://BrokerFunctions/BrokerSystemFunctions/helloRequest" message="tns:hello"/>
<output wsam:Action="http://BrokerFunctions/BrokerSystemFunctions/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="buyShares">
<input wsam:Action="http://BrokerFunctions/BrokerSystemFunctions/buyShares" message="tns:buyShares"/>
</operation>
<operation name="getCompanienames">
<input wsam:Action="http://BrokerFunctions/BrokerSystemFunctions/getCompanienamesRequest" message="tns:getCompanienames"/>
<output wsam:Action="http://BrokerFunctions/BrokerSystemFunctions/getCompanienamesResponse" message="tns:getCompanienamesResponse"/>
</operation>
</portType>
<binding name="BrokerSystemFunctionsPortBinding" type="tns:BrokerSystemFunctions">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buyShares">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="getCompanienames">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="BrokerSystemFunctions">
<port name="BrokerSystemFunctionsPort" binding="tns:BrokerSystemFunctionsPortBinding">
<soap:address location="http://localhost:9090/BrokerSystemFunctions/BrokerSystemFunctions"/>
</port>
</service>
</definitions>