BrokerClient/xml-resources/web-service-references/BrokerSystemFunctions/wsdl/localhost_8080/BrokerSystemFunctions/BrokerSystemFunctions.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://BrokerFunctions/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://BrokerFunctions/" name="BrokerSystemFunctions">
<types>
<xsd:schema>
<xsd:import namespace="http://xml.netbeans.org/schema/sharesSchema" schemaLocation="http://localhost:8080/BrokerSystemFunctions/BrokerSystemFunctions?xsd=1"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://xml.netbeans.org/schema/Consumer" schemaLocation="http://localhost:8080/BrokerSystemFunctions/BrokerSystemFunctions?xsd=2"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://BrokerFunctions/" schemaLocation="http://localhost:8080/BrokerSystemFunctions/BrokerSystemFunctions?xsd=3"/>
</xsd:schema>
</types>
<message name="LogOut">
<part name="parameters" element="tns:LogOut"/>
</message>
<message name="LogOutResponse">
<part name="parameters" element="tns:LogOutResponse"/>
</message>
<message name="buyShares">
<part name="parameters" element="tns:buyShares"/>
</message>
<message name="buySharesResponse">
<part name="parameters" element="tns:buySharesResponse"/>
</message>
<message name="Sign_up">
<part name="parameters" element="tns:Sign_up"/>
</message>
<message name="Sign_upResponse">
<part name="parameters" element="tns:Sign_upResponse"/>
</message>
<message name="Login">
<part name="parameters" element="tns:Login"/>
</message>
<message name="LoginResponse">
<part name="parameters" element="tns:LoginResponse"/>
</message>
<message name="getCompanienames">
<part name="parameters" element="tns:getCompanienames"/>
</message>
<message name="getCompanienamesResponse">
<part name="parameters" element="tns:getCompanienamesResponse"/>
</message>
<message name="getUserDetails">
<part name="parameters" element="tns:getUserDetails"/>
</message>
<message name="getUserDetailsResponse">
<part name="parameters" element="tns:getUserDetailsResponse"/>
</message>
<message name="sellStock">
<part name="parameters" element="tns:sellStock"/>
</message>
<message name="sellStockResponse">
<part name="parameters" element="tns:sellStockResponse"/>
</message>
<portType name="BrokerSystemFunctions">
<operation name="LogOut">
<input wsam:Action="http://BrokerFunctions/BrokerSystemFunctions/LogOutRequest" message="tns:LogOut"/>
<output wsam:Action="http://BrokerFunctions/BrokerSystemFunctions/LogOutResponse" message="tns:LogOutResponse"/>
</operation>
<operation name="buyShares">
<input wsam:Action="http://BrokerFunctions/BrokerSystemFunctions/buySharesRequest" message="tns:buyShares"/>
<output wsam:Action="http://BrokerFunctions/BrokerSystemFunctions/buySharesResponse" message="tns:buySharesResponse"/>
</operation>
<operation name="Sign_up">
<input wsam:Action="http://BrokerFunctions/BrokerSystemFunctions/Sign_upRequest" message="tns:Sign_up"/>
<output wsam:Action="http://BrokerFunctions/BrokerSystemFunctions/Sign_upResponse" message="tns:Sign_upResponse"/>
</operation>
<operation name="Login">
<input wsam:Action="http://BrokerFunctions/BrokerSystemFunctions/LoginRequest" message="tns:Login"/>
<output wsam:Action="http://BrokerFunctions/BrokerSystemFunctions/LoginResponse" message="tns:LoginResponse"/>
</operation>
<operation name="getCompanienames">
<input wsam:Action="http://BrokerFunctions/BrokerSystemFunctions/getCompanienamesRequest" message="tns:getCompanienames"/>
<output wsam:Action="http://BrokerFunctions/BrokerSystemFunctions/getCompanienamesResponse" message="tns:getCompanienamesResponse"/>
</operation>
<operation name="getUserDetails">
<input wsam:Action="http://BrokerFunctions/BrokerSystemFunctions/getUserDetailsRequest" message="tns:getUserDetails"/>
<output wsam:Action="http://BrokerFunctions/BrokerSystemFunctions/getUserDetailsResponse" message="tns:getUserDetailsResponse"/>
</operation>
<operation name="sellStock">
<input wsam:Action="http://BrokerFunctions/BrokerSystemFunctions/sellStockRequest" message="tns:sellStock"/>
<output wsam:Action="http://BrokerFunctions/BrokerSystemFunctions/sellStockResponse" message="tns:sellStockResponse"/>
</operation>
</portType>
<binding name="BrokerSystemFunctionsPortBinding" type="tns:BrokerSystemFunctions">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="LogOut">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buyShares">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Sign_up">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Login">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCompanienames">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getUserDetails">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="sellStock">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="BrokerSystemFunctions">
<port name="BrokerSystemFunctionsPort" binding="tns:BrokerSystemFunctionsPortBinding">
<soap:address location="http://localhost:8080/BrokerSystemFunctions/BrokerSystemFunctions"/>
</port>
</service>
</definitions>